In [1]:
# Selenium Web scraping

# Lets now import all the required libraries

import selenium                      
from selenium import webdriver       # importing webdriver module from selenium to open up automated window

import pandas as pd

import time                          # use to stop search engine for few seconds

import warnings                      # ignore warnings
warnings.filterwarnings("ignore")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the

    job-title, 
    job-location, 
    company_name, 
    experience_required. 
    You have to scrape first 10 jobs data.

In [2]:
# connect to webdriver by location  (1st option)
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')   #chrome page will open
time.sleep(1)

driver.get('https://www.naukri.com/')     # open naukri.com on automated chrome window

driver.maximize_window()   # maximize the screen

In [3]:
# Finding element for designation search bar

search_field_designation = driver.find_element_by_class_name("suggestor-input ") # job search bar # don't use same class for other search bar
search_field_designation.send_keys('Data Analyst')

In [4]:
# enter Delhi in location search bar

search_field_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") # job search bar
search_field_loc.send_keys('Bangalore')

In [5]:
# Search Button element and click on that

search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [6]:
# create 4 empty lists, scraped data will store in these lists

job_title = []
job_location = []
company_name = []
exp_req = []

In [7]:
# 1st extract tags where we have all job titles -- use elements for multiple items
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 

for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst- customer facing',
 'Sr Data Analyst II',
 'Business analyst + data Analysis',
 'Consultant - Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst with SAP ABAP & BW - C2H Wipro',
 'Senior Business Analyst - Data Sciences and Advanced Analytics',
 'Business and Data Analyst']

In [8]:
# extract job loc tags and then extract text

loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tags

for l in loc_tags:
    location = l.text
    job_location.append(location)
    
job_location[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [9]:
# extract company tags and then extract text 

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

# now we will extract text from these tags one by one by looping over these tags

for c in company_tags:
    cname = c.text
    company_name.append(cname)
company_name[0:10]

['Flipkart',
 'Thomson Reuters',
 'Synamedia',
 'IHS Markit',
 'Anlage Infotech (I) Pvt. Ltd.',
 'Flipkart',
 'VOLVO ASSET FINANCE INDIA PRIVATE LIMITED',
 'MILLION MINDS INFOTECH PRIVATE LIMITED',
 'Vmware',
 'CAREERDOST ENTERPRISE']

In [10]:
# extract job exp. tags and then extract text

exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags

for e in exp_tags:
    experience = e.text
    exp_req.append(experience)
exp_req[:10]

['3-7 Yrs',
 '2-4 Yrs',
 '0-3 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '7-10 Yrs',
 '3-7 Yrs',
 '0-5 Yrs']

In [11]:
print(len(job_title),len(company_name),len(job_location),len(exp_req))

20 20 20 20

In [12]:
job_data = pd.DataFrame({})
job_data['JobTitle'] = job_title
job_data['CompanyName'] = company_name
job_data['ExperienceRequired'] = exp_req
job_data['JobLocation'] = job_location

job_data[:10]

,JobTitle,CompanyName,ExperienceRequired,JobLocation
0,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst,Thomson Reuters,2-4 Yrs,Bangalore/Bengaluru
2,Data Analyst- customer facing,Synamedia,0-3 Yrs,Bangalore/Bengaluru
3,Sr Data Analyst II,IHS Markit,3-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
5,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru
6,Data Analyst,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,2-4 Yrs,Bangalore/Bengaluru
7,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs,Bangalore/Bengaluru
8,Senior Business Analyst - Data Sciences and Ad...,Vmware,3-7 Yrs,Bangalore/Bengaluru
9,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

        You have to scrape the 
            job-title, 
            job-location, 
            company_name. 
        You have to scrape first 10 jobs data.

In [13]:
# connect to webdriver by location  (1st option)
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.naukri.com/')     # open naukri.com on automated chrome window

driver.maximize_window()

In [14]:
# Finding element for job search bar

search_field_designation = driver.find_element_by_class_name("suggestor-input ") # job search bar # don't use same class for other search bar
search_field_designation.send_keys('Data Scientist')

# enter Delhi in location search bar

search_field_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") # job search bar
search_field_loc.send_keys('Delhi')

# Search Button element and click on that

search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [15]:
# create 3 empty lists, scraped data will store in these lists

job_title = []
job_location = []
company_name = []

In [16]:
# 1st extract tags where we have all job titles -- use elements for multiple items

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 

for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Scientist/ Analyst Specialist',
 'Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Data Scientist Opportunity with PayU - Diversity Hiring',
 'Data Scientist',
 'Junior Data Scientist',
 'Data Scientist',
 'Assistant Manager/Manager/Senior Manager - Data Scientist',
 'Data Scientist/Data Engineer']

In [17]:
# extract job loc tags and then extract text

loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

for l in loc_tags:
    location = l.text
    job_location.append(location)
    
job_location[:10]

['Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Noida',
 'New Delhi',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kochi/Cochin, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Trivandrum/Thiruvananthapuram, Mumbai (All Areas)']

In [18]:
# extract company tags and then extract text 

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

# now we will extract text from these tags one by one by looping over these tags

for c in company_tags:
    cname = c.text
    company_name.append(cname)
company_name[0:10]

['TransOrg Solutions Services (P) Ltd.',
 'Genpact',
 'TransOrg Solutions Services (P) Ltd.',
 'Ocrolus East',
 'PayU',
 'Ashkom Media India Private Limited',
 'EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED',
 'Pasona',
 'Huquo Consulting Pvt. Ltd',
 'UST']

In [19]:
ds_job_data = pd.DataFrame({})
ds_job_data['Job_Title'] = job_title
ds_job_data['Job_Location'] = job_location
ds_job_data['Company_Name'] = company_name

ds_job_data[:10]

,Job_Title,Job_Location,Company_Name
0,Data Scientist/ Analyst Specialist,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC...",TransOrg Solutions Services (P) Ltd.
1,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Genpact
2,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.
3,Senior Data Scientist,Gurgaon/Gurugram,Ocrolus East
4,Data Scientist Opportunity with PayU - Diversi...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU
5,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited
6,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED
7,Data Scientist,New Delhi,Pasona
8,Assistant Manager/Manager/Senior Manager - Dat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd
9,Data Scientist/Data Engineer,"Kochi/Cochin, Hyderabad/Secunderabad, Pune, Ah...",UST

# Q3: Scrape data using the filters available on the webpage.

    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the 
        1. job-title, 
        2. job-location, 
        3. company name, 
        4. experience required.
    The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [20]:
# connect to webdriver by location  (1st option)
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.naukri.com/')     # open naukri.com on automated chrome window

driver.maximize_window()
time.sleep(2)

# Finding element for job search bar

search_field_designation = driver.find_element_by_class_name("suggestor-input ") # job search bar # don't use same class for other search bar
search_field_designation.send_keys('Data Scientist')

# Search Button element and click on that

search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()
time.sleep(5)

In [21]:
# location filter and salary filter by checking the respective boxes

loc_filter_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]")
loc_filter_check.click()
time.sleep(1)

In [22]:
sal_filter_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
sal_filter_check.click()

In [23]:
job_title = []
job_location = []
company_name = []
exp_req = []

In [24]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 

for i in title_tags:
    job_title.append(i.text)
job_title[0:10]

['Data Scientist',
 'Junior Data Scientist',
 'Associate Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist || Software Company || Immediate Joiners To max 30 Days',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Hiring For Data Analyst and Data Scientist For Gurgaon Location',
 'Data Scientist (freelance)',
 'Data Scientists',
 'Data Scientist']

In [25]:
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

for l in loc_tags:
    job_location.append(l.text)
    
job_location[:10]

['Noida, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Vadodara, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'New Delhi, Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon, Bengaluru']

In [26]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

# extract text from these tags one by one by looping over these tags

for c in company_tags:
    company_name.append(c.text)
company_name[0:10]

['Ashkom Media India Private Limited',
 'EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED',
 'Optum',
 'AXA Technology Services India Pvt. Ltd',
 'Skyleaf Consultants',
 'Creative Hands HR Consultancy',
 'Shadow Placements',
 '2Coms',
 'Nibha Infotech Private Limited',
 'BlackBuck']

In [27]:
# extract job exp. tags and then extract text

exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags

for e in exp_tags:
    experience = e.text
    exp_req.append(experience)
exp_req[:10]

['3-6 Yrs',
 '1-2 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '0-4 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '3-7 Yrs']

In [28]:
# DS jobs data Delhi/NCR and 3-6L 

ds_jobs_data = pd.DataFrame({})
ds_jobs_data['Job_Title'] = job_title
ds_jobs_data['Job_Location'] = job_location
ds_jobs_data['Company_Name'] = company_name
ds_jobs_data['Exp_Req'] = exp_req

ds_jobs_data

,Job_Title,Job_Location,Company_Name,Exp_Req
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs
2,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
6,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
7,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
8,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,5-8 Yrs
9,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
10,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
11,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
12,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
13,Lead Data Scientist,Gurgaon/Gurugram,KIA INDIA PRIVATE LIMITED,7-10 Yrs
14,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
15,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
16,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
17,Associate Data Scientist,Noida,Right Step Consulting,3-6 Yrs
18,Junior AI Data Scientist,New Delhi,Seven Consultancy (HR Solution),1-6 Yrs
19,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand
2. Product Description
3. Price
4. Disc %

To scrape the data you have to go through following steps:

    Go to Flipkart webpage by url : https://www.flipkart.com/
    Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
    After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data
    After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
    Now scrape data from this page
    Repeat this until you get data for 100 sunglasses.

In [29]:
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.flipkart.com/')
driver.maximize_window()

xbutton = driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
time.sleep(5)

In [30]:
#Searching item
search_item=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_item.send_keys('Sunglasses')
time.sleep(3)

# click on the search button
search_button = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [31]:
# extract brand details

glass_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand = []
for i in glass_brand:
    brand.append(i.text)

# extract product description
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
description = []
for i in prod_desc:
    description.append(i.text)
    
# extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price = []
for i in prod_price:
    price.append(i.text)

# extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
discount = []
for i in prod_discount:
    discount.append(i.text)

In [32]:
# page2

next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [33]:
# extract brand details

glass_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in glass_brand:
    brand.append(i.text)

# extract product description
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in prod_desc:
    description.append(i.text)
    
# extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in prod_price:
    price.append(i.text)

# extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')

for i in prod_discount:
    discount.append(i.text)

In [34]:
# page3

next_button3 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button3.click()

In [35]:
# extract brand details

glass_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in glass_brand:
    brand.append(i.text)

# extract product description
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_desc:
    description.append(i.text)

# extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [36]:
print(len(brand), len(description), len(price), len(discount))

120 120 120 120

In [37]:
# Data Frame
sunglass_db = pd.DataFrame({})
sunglass_db['Sunglass_Brand']=brand
sunglass_db['Sunglass_Description']=description
sunglass_db['Sunglass_Price']=price
sunglass_db['Sunglass_Discount']=discount
sunglass_db[:100]

,Sunglass_Brand,Sunglass_Description,Sunglass_Price,Sunglass_Discount
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),₹649,67% off
1,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),₹649,67% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,120",43% off
96,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664,77% off
97,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039",20% off
98,Fastrack,UV Protection Shield Sunglasses (Free Size),₹709,21% off
99,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹649,74% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
    https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace

        1. Rating
        2. Review summary
        3. Full review

In [2]:
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')   #chrome page will open
time.sleep(1)

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace')
driver.maximize_window()
#xbutton = driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click() -- to close auto pop up login
time.sleep(2)

In [3]:
viewallratings = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span').click()

In [4]:
Urls = []
Rating = []
Review_summary = []
Full_review = []

In [5]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')
for i in url:
    Urls.append(i.get_attribute('href'))
Urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=2']

In [6]:
for j in Urls:
    driver.get(j)
    rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for j in rating:
        Rating.append(j.text)
#Rating[:100]

In [8]:
for j in Urls:
    driver.get(j)
    rev = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for j in rev:
        Review_summary.append(j.text)
#Review_summary[:100]

In [9]:
for j in Urls:
    driver.get(j)
    fr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for j in fr:
        Full_review.append(j.text)
#Full_review[:100]

In [10]:
print(len(Rating), len(Review_summary), len(Full_review))

107 220 110

In [12]:
iphone_review_df=pd.DataFrame({'Rating': Rating[:100],
                               'Review_Summary': Review_summary[:100],
                               'Full_Review': Full_review[:100]})
iphone_review_df[:100]

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Excellent,A perfect phone and a good battery super camer...
96,5,Super!,This is my first ever iPhone.\nAnd I truly don...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Wonderful,Nice value for money good and best price I pho...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

    You have to scrape 4 attributes of each sneaker:
        1. Brand
        2. Product Description
        3. Price
        4. disc %

In [45]:
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.flipkart.com/')
driver.maximize_window()
time.sleep(2)

xbutton = driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
time.sleep(2)

#Searching item
search_item=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_item.send_keys('Sneakers')
time.sleep(3)

# click on the search button
search_button = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [46]:
# extract brand details

sneakers_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand = []
for i in sneakers_brand:
    brand.append(i.text)

# extract product description
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
description = []
for i in prod_desc:
    try:
        description.append(i.text)
    except:
        description.appendend('Desc.. Not available')
    
# extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price = []
for i in prod_price:
    price.append(i.text)

# extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
discount = []
for i in prod_discount:
    discount.append(i.text)

In [47]:
# page2

next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [48]:
# extract brand details

sneakers_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in sneakers_brand:
    brand.append(i.text)

# extract product description
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in prod_desc:
    try:
        description.append(i.text)
    except:
        description.appendend('Desc.. Not available')
    
# extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in prod_price:
    price.append(i.text)
    
# extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')

for i in prod_discount:
    discount.append(i.text)

In [49]:
# page3

next_button3 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button3.click()

In [50]:
# extract brand details

sneakers_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in sneakers_brand:
    brand.append(i.text)

# extract product description
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_desc:
    try:
        description.append(i.text)
    except:
        description.appendend('Desc.. Not available')

# extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [51]:
print(len(brand), len(description), len(price), len(discount))

120 105 120 118

In [52]:
# Data Frame
sunglass_db = pd.DataFrame({})
sunglass_db['Sunglass_Brand']=brand[:100]
sunglass_db['Sunglass_Description']=description[:100]
sunglass_db['Sunglass_Price']=price[:100]
sunglass_db['Sunglass_Discount']=discount[:100]
sunglass_db[:100]

,Sunglass_Brand,Sunglass_Description,Sunglass_Price,Sunglass_Discount
0,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹488,62% off
1,HOC,Luxury Fashionable Breathable Casual Sneakers ...,₹449,77% off
2,URBANBOX,Modern Trendy Sneakers Shoes Sneakers For Men,₹198,80% off
3,BRUTON,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹295,77% off
4,corsac,"Stylish Comfortable Lightweight, Breathable Wa...",₹499,66% off
...,...,...,...,...
95,BRUTON,"Casual , Partywear Sneakers Shoes For Men's An...",₹552,78% off
96,Noztile,Sneakers For Men,₹428,50% off
97,bluemaker,STR2 Sneakers For Men,₹499,37% off
98,Roadster,Sneakers For Men,"₹1,799",75% off
99,India hub,Sneakers For Men,₹499,70% off

# Q7: Go to the link - https://www.myntra.com/shoes

    Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include 
    Brand of the shoes , 
    Short Shoe description, 
    Price of the shoe

In [53]:
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.myntra.com/shoes')
driver.maximize_window()

In [54]:
#price and color filter
time.sleep(3)
p_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
p_filter.click()
time.sleep(5)

c_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
c_filter.click()

In [55]:
Brand = []
for i in range(0,3):
    br = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
    for j in br:
        Brand.append(j.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-next"]/a')
    next_button.click()
    time.sleep(5)

In [56]:
Short_Shoe_description = []
for i in range(0,3):
    ssd = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for j in ssd:
        Short_Shoe_description.append(j.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-next"]/a')
    next_button.click()
    time.sleep(5)

In [57]:
Price = []
for i in range(0,3):
    pr = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
    for j in pr:
        Price.append(j.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-next"]/a')
    next_button.click()
    time.sleep(5)

In [58]:
print(len(Brand), len(Short_Shoe_description), len(Price))

150 150 150

In [59]:
shoe_df = pd.DataFrame({})
shoe_df['Brand'] = Brand
shoe_df['Short_Shoe_description'] = Short_Shoe_description
shoe_df['Price'] = Price

shoe_df[:100]

           Brand          Short_Shoe_description               Price
0   UNDER ARMOUR                  Women Sneakers           Rs. 11599
1           ALDO  Women Solid Leather Ballerinas    Rs. 7199Rs. 8999
2       Skechers             Leather Block Heels            Rs. 7999
3           ALDO        Leather Flatform Sandals            Rs. 7999
4           Puma        Woven Design Block Heels  Rs. 12749Rs. 16999
..           ...                             ...                 ...
95        Clarks         Women Block Heel Sandal  Rs. 10705Rs. 11895
96        ADIDAS  Embellish Mid-Top Heeled Boots            Rs. 7999
97  UNDER ARMOUR     High-Top Block Heeled Boots            Rs. 8999
98     J.FONTINI      Solid Leather Kitten Mules   Rs. 9345Rs. 10995
99     J.FONTINI  Women Woven Design PU Sneakers    Rs. 8499Rs. 9999

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/

        Enter “Laptop” in the search field and then click the search icon.
        Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
        After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
            1. Title
            2. Ratings
            3. Price

In [68]:
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.amazon.in/')
driver.maximize_window()

search_field = driver.find_element_by_id('twotabsearchtextbox')
search_field.send_keys('Laptop')
time.sleep(2)

search_button = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
search_button.click()
time.sleep(5)

In [71]:
# i7 and i9 filter selection # both selection not working for me
# i7 only selected
cpu1_filter =  driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span')
cpu1_filter.click()

In [72]:
title = []
tit = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in tit:
    title.append(i.text)
#title

Ratings = []
rat = driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
for i in rat:
    Ratings.append(i.get_attribute('textContent'))
#Ratings

Price = []
pr = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in pr:
    Price.append(i.text)
Price

# i9_df
i9_df = pd.DataFrame({})
i9_df['Title']=title[:10]
i9_df['Rating']=Ratings[:10]
i9_df['Price']=Price[:10]
i9_df[:10]

,Title,Rating,Price
0,"MSI Katana GF66 Gaming, Intel i7-11800H, 15.6""...",5.0 out of 5 stars,"91,499"
1,"MSI Modern 14, Intel i7-1195G7, 14"" FHD IPS-Le...",4.0 out of 5 stars,"76,490"
2,Mi Notebook Ultra 3.2K Resolution Display Inte...,4.3 out of 5 stars,"77,999"
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.5 out of 5 stars,"57,490"
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.4 out of 5 stars,"86,990"
5,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...",4.4 out of 5 stars,"86,990"
6,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",4.6 out of 5 stars,"89,990"
7,Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...,3.0 out of 5 stars,"79,990"
8,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.0 out of 5 stars,"85,890"
9,LG Gram 16 inches Intel Evo 11th Gen Core i7 U...,4.3 out of 5 stars,"1,01,112"

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. 

    You have to scrape 
        company name, 
        No. of days ago when job was posted, 
        Rating of the company.
    This task will be done in following steps:
    1. First get the webpage https://www.ambitionbox.com/
    2. Click on the Jobs option
    3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter 
        “Data Scientist” and click on search button.
    4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” 
        and select location “Noida”.
    5. Then scrape the data for the first 10 jobs results you get on the above shown page.
    6. Finally create a dataframe of the scraped data.

In [73]:
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.ambitionbox.com/')
driver.maximize_window()
time.sleep(2)

field_button = driver.find_element_by_xpath("//a[@class='link jobs']")
field_button.click()
time.sleep(2)

search_design = driver.find_element_by_xpath('//input[@title="Enter Designation, Company or a Skill"]')
search_design.send_keys('Data Scientist')
time.sleep(2)

search_button = driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]')
search_button.click()
time.sleep(1)

In [74]:
loc_click = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
loc_click.click()
time.sleep(2)

In [75]:
loc_enter = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
loc_enter.send_keys('Noida')
time.sleep(2)

In [76]:
# rb - radio button
loc_rb_selection = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
loc_rb_selection.click()
time.sleep(2)

In [77]:
company_name = []
job_posted_on = []
Rating_company = []

In [78]:
c_name = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in c_name:
    company_name.append(i.text)
    
job_posted = driver.find_elements_by_xpath('//div[@class="other-info"]/span[1]')
for i in job_posted:
    job_posted_on.append(i.text)
    
rat_comp = driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in rat_comp:
    Rating_company.append(i.text)

#df
    
noida_df = pd.DataFrame({})
noida_df['Company_Name'] = company_name
noida_df['Job_Posted_on'] = job_posted_on
noida_df['Rating_company'] = Rating_company

noida_df

,Company_Name,Job_Posted_on,Rating_company
0,EXL Services.com ( I ) Pvt. Ltd.,8d ago,3.9
1,GENPACT India Private Limited,20d ago,4.0
2,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,6d ago,3.9
3,GENPACT India Private Limited,1mon ago,4.0
4,Bristlecone India Limited,15d ago,3.8
5,Zyoin,19d ago,4.1
6,Ashkom Media India Private Limited,6d ago,3.7
7,Newgen Software Technologies Ltd.,21d ago,3.5
8,JK Technosoft Ltd,1mon ago,3.7
9,Pitney Bowes India Pvt Ltd,1mon ago,4.2

# Q10: Write a python program to scrape the salary data for Data Scientist designation.

    You have to scrape Company name, Number of salaries, Average salary, Min salary, Max salary
    The above task will be, done as shown in the below steps:
        1. First get the webpage https://www.ambitionbox.com/
        2. Click on the salaries option as shown in the image.
        3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
           then click on “Data Scientist”.
        4. Scrape the data for the first 10 companies. Scrape the 
            company name, 
            total salary record, 
            average salary, 
            minimum salary, 
            maximum salary, 
            experience required.
        5. Store the data in a dataframe.

In [79]:
driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
time.sleep(1)

driver.get('https://www.ambitionbox.com/')
driver.maximize_window()
time.sleep(2)

sal_button = driver.find_element_by_xpath('//a[@class="link salaries"]')
sal_button.click()
time.sleep(2)

search_job_profile = driver.find_element_by_xpath('//input[@type="searchbox"]')
search_job_profile.send_keys('Data Scientist')
time.sleep(2)

# suggestion selection
sugg_select = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
sugg_select.click()

In [80]:
company_name = []
total_sal_record = []
average_sal = []
minimum_sal = []
maximum_sal = []
exp_req = []

In [81]:
c_name = driver.find_elements_by_xpath('//div[@class="name"]/a')
for cn in c_name:
    company_name.append(cn.text)
#company_name

t_s_r = driver.find_elements_by_xpath('//div[@class="name"]/span')
for tsr in t_s_r:
    total_sal_record.append(tsr.text)
#total_sal_record

minsal = driver.find_elements_by_xpath('//div[@class="salary-values"]/div[1]')
for ms in minsal:
    minimum_sal.append(ms.text)
#minimum_sal

avgsal = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for avgs in avgsal:
    average_sal.append(avgs.text)
#average_sal

maxsal = driver.find_elements_by_xpath('//div[@class="salary-values"]/div[2]')
for ms in maxsal:
    maximum_sal.append(ms.text)
#maximum_sal

exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for e in exp:
    exp_req.append(e.text.replace('\n', ''))
#exp_req -- format change require it is not proper output.

DS_Sal_DB = pd.DataFrame({})
DS_Sal_DB['Company_Name'] = company_name
DS_Sal_DB['Total_Sal_Record'] = total_sal_record
DS_Sal_DB['Minimum_Salary']= minimum_sal
DS_Sal_DB['Average_Salary'] = average_sal
DS_Sal_DB['Maximum_Salary'] = maximum_sal
DS_Sal_DB['Exp_Req'] = exp_req

DS_Sal_DB

,Company_Name,Total_Sal_Record,Minimum_Salary,Average_Salary,Maximum_Salary,Exp_Req
0,Walmart,based on 11 salaries,₹ 25.0L,₹ 29.7L,₹ 35.0L,Data Scientist . 3 yrs exp
1,Ab Inbev,based on 32 salaries,₹ 15.0L,₹ 20.5L,₹ 25.5L,Data Scientist . 3-4 yrs exp
2,Reliance Jio,based on 10 salaries,₹ 5.6L,₹ 18.9L,₹ 26.2L,Data Scientist . 4 yrs exp
3,ZS,based on 15 salaries,₹ 9.8L,₹ 15.9L,₹ 20.0L,Data Scientist . 2 yrs exp
4,Optum,based on 27 salaries,₹ 11.0L,₹ 15.2L,₹ 22.0L,Data Scientist . 3-4 yrs exp
5,Fractal Analytics,based on 81 salaries,₹ 9.5L,₹ 15.2L,₹ 22.0L,Data Scientist . 2-4 yrs exp
6,Tiger Analytics,based on 46 salaries,₹ 9.0L,₹ 14.8L,₹ 20.0L,Data Scientist . 2-4 yrs exp
7,UnitedHealth,based on 53 salaries,₹ 8.3L,₹ 14.0L,₹ 20.5L,Data Scientist . 2-4 yrs exp
8,Verizon,based on 14 salaries,₹ 10.0L,₹ 12.7L,₹ 21.0L,Data Scientist . 4 yrs exp
9,Ganit Business Solutions,based on 13 salaries,₹ 8.5L,₹ 12.4L,₹ 15.0L,Data Scientist . 4 yrs exp